<context id="AMFAC_REU" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	<context id="AMFACSpace">
		<projection type="grid" id="grid"></projection>
		<projection type="value layer" id="TGFB"></projection>
		<projection type="value layer" id="LatentTGFB"></projection>
		<projection type="value layer" id="Interleukin6"></projection>
		<projection type="value layer" id="Interleukin1"></projection>
		<projection type="value layer" id="TNFalpha"></projection>
	</context>
</context>
